<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j">
	<appender name="console-out" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		
	</appender>
	
	<appender name="rolling-out" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="com.smmsp.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="1" />
	</appender>
	
	<logger name="com.smmsp">
		<level value="warn" />
		<appender-ref ref="console-out" />
		<appender-ref ref="rolling-out" />
	</logger>

</log4j:configuration>